<section class='reg-info-block clearfix'>
<div class='col-xs-12 col-sm-12'>

  <div class='grey-block col-sm-4 col-xs-12'>
    <img src='images/regtype-user.png'/>
    <h3> Автовладелец</h3>
    <p>Кто ценит своё время и не хочет его тратить на сравнение цен, поиск отзывов о качестве работы в конкретном автотехцентре.</p>
    <a class="standard-button" ng-click='root.unhandled()'>Регистрация</a>
  </div>

  <div class='white-block col-sm-4 col-xs-12'>
    <span class='centered-span'> или </span>
  </div>

  <div class='grey-block col-sm-4 col-xs-12'>
    <img src='images/regtype-sto.png'/>
    <h3>Автосервис</h3>
    <p>Юридические лица: автотехцентры (в т.ч. официальные). шиномонтажи, автомойки, тюнинг-ателье, АЗС и пр.</p>
    <a href='#/registration/STO' class="standard-button">Регистрация</a>
  </div>
</div>
</section>
