<form ng-submit='register($event)'>
<!-- Контактная информация -->
<section class='reg-info-block'>
  <div class='info-block-data'>

    <div class='data-row'>
      <label>Фамилия</label>
      <input type='text' ng-model='newUser.user_surname' class='input-long' placeholder="Фамилия"></input>
    </div>
    <div class='data-row'>
      <label>Имя</label>
      <input type='text' ng-model='newUser.user_name' class='input-long' placeholder="Имя"></input>
    </div>
    <div class='data-row'>
      <label>Отчество</label>
      <input type='text' ng-model='newUser.user_patronymic' class='input-long' placeholder="Отчество"></input>
    </div>
    <div class='data-row'>
      <label>Email</label>
      <input type='email' ng-model='newUser.user_email' class='input-long' placeholder="E-mail"></input>
    </div>
    <div class='data-row'>
      <label>Номер телефона</label>
      <input type='phone' ng-model='newUser.user_phone_number' class='input-long'></input>
    </div>

    <div class='data-row'>
      <label>Пароль</label>
      <input type='password' ng-model='newUser.user_password' class='input-long'></input>
    </div>
    <div class='data-row'>
      <label>Пароль ещё раз</label>
      <input type='password' ng-model='newUser.user_password_repeat' class='input-long'></input>
    </div>
  </div>
</section>

<!-- Подтверждение -->
<section class='reg-info-block'>
  <div class='info-block-data'>
    <div class='checkbox-row'>
      <input type='checkbox' ng-model='newUser.rules_confirm'>
      <label> С <a href='#'> Условиями использования</a> сервиса и <a href='#'> Политикой конфиденциальности</a> ознакомлен. Даю согласие на обработку персональных данных.
      </label>
    </div>
    <div class='button-row'>
      <button type="submit" class='standard-button'>Отправить</button>
    </div>
  </div>
</section>
</form>
